<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto excepturi eius velit necessitatibus quidem
        iusto quae vero harum magnam ab? Commodi, minima repellat! Quaerat aperiam, rerum ea alias sequi quos.
        Labore voluptas omnis possimus modi, in, eligendi sunt architecto ratione cumque nihil quos. Reprehenderit
        delectus dolor, molestiae quis expedita fugiat vel tenetur maxime aliquid impedit eius ea eos explicabo dolores.
        Quae perspiciatis debitis labore odit iste adipisci, eius et hic fugit dicta. Accusamus quibusdam tempore
        voluptate,ahmed doloremque voluptates velit quia sequi commodi explicabo ad quae praesentium et a repellendus
        nulla.

        <strong>wassup fuckerssss</strong>
    </p>

</body>

</html>